<template>
   <div id="main-div">
       <div class="container">
         <div class="row">
           <div class="col-6 offset-3">
             <div class="login">
               <p class="name">Kreiranje naloga:</p>
               <p class="description">Molimo vas obratite pažnju da podaci uneti u tabelu budu ispravni.</p>
               <hr>
               <span class="span-desc">Unesite novu lozinku:</span><br>
               <i class="fas fa-lock pass pass-two"></i><br>
               <input v-model="password1" class="password" type="password"><br>

               <span class="span-desc">Ponovite lozinku:</span><br>
               <i class="fas fa-lock pass-two"></i><br>
               <input v-model="password2" class="password" type="password"><br>

               <span class="span-desc">Korisničko ime:</span><br>
               <i class="fas fa-user-circle pass-two"></i><br>
               <input v-model="username" class="password" type="text"><br>

               <span class="span-desc">Vaše ime:</span><br>
               <i class="fas fa-user pass-two"></i><br>
               <input v-model="firstName" class="password" type="text"><br>
               
               <span class="span-desc">Prezime:</span><br>
               <i class="fas fa-user pass-two"></i><br>
               <input v-model="lastName" class="password" type="text"><br>

               <span class="span-desc">Adresa:</span><br>
               <i class="fas fa-home pass-two"></i><br>
               <input v-model="address" class="password" type="text"><br>

               <span class="span-desc">Broj telefona:</span><br>
               <i class="fas fa-phone pass-two"></i><br>
               <input v-model="phone" class="password" type="number"><br>

               <span class="span-desc">E-mail:</span><br>
               <i class="fas fa-envelope pass-two"></i><br>
               <input v-model="email" class="password" type="text"><br>

               <button @click="submitForm()" id="btnSubmit" type="button" class="btn btn-success btn">Sačuvaj</button>
            </div>
          </div> 
        </div>
      </div> 
    </div> 
</template>

<script>
const axios = require('axios');
export default {
    data() {
        return {
            globalUrl: 'http://fo.insolutions.tech/api/',
            password1: '',
            password2: '',
            username: '',
            firstName: '',
            lastName: '',
            phone: '',
            email: '',
            address: '',
            objAcc: JSON.parse(localStorage.getItem("objAcc")),
        }
    },
    methods: {
        submitForm() {
            var self = this;
            if(self.password1 === self.password2 && self.username && self.firstName && self.lastName && self.phone && self.email && self.address){
                axios.post(self.globalUrl + 'user/modifylogin', {
                userID: self.objAcc.userID,
                username: self.username,
                password: self.password1,
                firstName: self.firstName,
                lastName: self.lastName,
                address: self.address,
                phone: self.phone,
                email: self.email,
             //    modifyPwd: objAcc.modifyPwd,
              })
              .then(function (response) {
                console.log(response);
                var objAcc = {
                   userID: self.objAcc.userID,
                   username: self.username,
                   password: self.password1,
                   firstName: self.firstName,
                   lastName: self.lastName,
                   address: self.address,
                   phone: self.phone,
                   email: self.email,
                };
                localStorage.removeItem(objAcc);
                localStorage.setItem("objAcc", JSON.stringify(objAcc));
                self.$router.push('/dashboard');
              })
              .catch(function (error) {
                console.log(error);
                alert('Proverite vašu internet konekciju!');
              });

             }else {
                 alert('Molimo vas upišite sve podatke, i proverite da li vam se lozinke poklapaju. Hvala!');
          } 
        }
    },
}
</script>


<style scoped>

.name {
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
}
.pass-two {
    margin-top: 15px;
}
.password {
    border: none;
    border-bottom: 2px solid green;
    background-color: transparent;
    width: 100%;
    outline: none;
}
.user {
    margin-top: 30px;
    color: black;
}
.pass {
    color: black;
}
.btn {
    margin-top: 50px;
    width: 100%;
}
.description {
    font-size: 17px;
    text-align: center;
    margin-bottom: 10px; 
}
</style>
