<template>
  <div id="main-div">
    
     <div class="container-fluid">
    <div class="row first-row-ls">
      <div class="col-12 nav-bar">
        <ul>
          <li class="name li-tag">-FinOffice-</li>
          <li class="home li-tag">Dashboard</li>
          <li class="account li-tag">
            <span id="fname-lname">{{objAcc.username}}</span>
            <button class="btn btn-success dropdown-toggle dropdown" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user-circle acc"></i>
            </button>
            <div class="dropdown-menu accPopup" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" data-toggle="modal" data-target="#exampleModalScrollable">Settings <i
                  class="fas fa-user-cog"></i></a>
              <p @click="logout()" class="dropdown-item">Logout <i class="fas fa-sign-out-alt"></i></p>
            </div>
            <!-- modal -->
            <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title modal-name" id="exampleModalScrollableTitle">Account settings</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body myModal">
                    <i @click="usernameF()" class="fas fa-edit pen username-pen"></i>
                    <strong><span class="infos">Korisničko ime:</span></strong> <span class="result-span"
                      id="username">{{objAcc.username}}</span>
                    <br>
                    <input :value="objAcc.username" id="iUserName" class="username-edit edit" type="text">
                    <hr>
                    <i @click="passwordF()" class="fas fa-edit pen password-pen"></i>
                    <strong><span class="infos">Lozinka:</span></strong> <span class="result-span" id="password">*****</span>
                    <br>
                    <input :value="objAcc.password" id="iPassword" class="password-edit edit" type="text">
                    <hr>
                    <i @click="fnameF()" class="fas fa-edit pen fname-pen"></i>
                    <strong><span class="infos">Ime:</span></strong> <span class="result-span" id="firstName">{{objAcc.firstName}}</span>
                    <br>
                    <input :value="objAcc.firstName" id="iFirstName" class="fname-edit edit" type="text">
                    <hr>
                    <i @click="lnameF()" class="fas fa-edit pen lname-pen"></i>
                    <strong><span class="infos">Prezime:</span></strong> <span class="result-span" id="lastName">{{objAcc.lastName}}</span>
                    <br>
                    <input :value="objAcc.lastName" id="iLastName" class="lname-edit edit" type="text">
                    <hr>
                    <i @click="addressF()" class="fas fa-edit pen adress-pen"></i>
                    <strong><span class="infos">Adresa:</span></strong> <span class="result-span" id="adress">{{objAcc.address}}</span>
                    <br>
                    <input :value="objAcc.address" id="iAddress" class="adress-edit edit" type="text">
                    <hr>
                    <i @click="emailF()" class="fas fa-edit pen email-pen"></i>
                    <strong><span class="infos">E-mail:</span></strong> <span class="result-span" id="email">{{objAcc.email}}</span>
                    <br>
                    <input :value="objAcc.email" id="iEmail" class="email-edit edit" type="text">
                    <hr>
                    <i @click="phoneF()" class="fas fa-edit pen phone-pen"></i>
                    <strong><span class="infos">Telefon:</span></strong> <span class="result-span" id="phone">{{objAcc.phone}}</span>
                    <br>
                    <input :value="objAcc.phone" id="iPhone" class="phone-edit edit" type="text">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                    <button @click="modifyLogin()" type="button" data-dismiss="modal" class="btn btn-success">Sačuvaj</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- modal end -->

          </li>
        </ul>
        <div class="shadow-box"></div>
      </div>
    </div>
    <div class="row first-row-sm">
      <span class="name-sm">FinOffice</span>
    </div>
    <div id="menu-row" class="row">
      <div class="col-12">
        <i @click="openMenuNav()" id="menu-nav" class="fas fa-bars"></i>
        <button class="btn btn-success dropdown-toggle dropdown-acc" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle acc"></i>
        </button>
        <div class="dropdown-menu accPopup" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Settings <i class="fas fa-user-cog"></i></a>
          <a class="dropdown-item" href="#">Logout <i class="fas fa-sign-out-alt"></i></a>
        </div>
      </div>
    </div>
    <div id="dropdown-row" class="row">
      <div class="col-6 hierarchy-left">
        <p class="hierarchy">Hierarchy <i class="fas fa-sitemap"></i></p>
        <hr>
        <ul class="h-ul">
          <li class="h-li hg-dropdown">
            <div class="dropdown">
              <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hg
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Milinko</a>
                <a class="dropdown-item" href="#">Marko</a>
                <a class="dropdown-item" href="#">Zeljko</a>
              </div>
            </div>
          </li>
          <i class="fas fa-level-down-alt one-dropdown"></i>
          <li class="h-li reg-dropdown">
            <div class="dropdown">
              <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Reg
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Milinko</a>
                <a class="dropdown-item" href="#">Marko</a>
                <a class="dropdown-item" href="#">Zeljko</a>
              </div>
            </div>
          </li>
          <i class="fas fa-level-down-alt two-dropdown"></i>
          <li class="h-li stwp-d">
            <div class="dropdown">
              <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Stwp
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Milinko</a>
                <a class="dropdown-item" href="#">Marko</a>
                <a class="dropdown-item" href="#">Zeljko</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-6 options-right">
        <p class="options-dropdown">Options <i class="fas fa-cogs"></i></p>
        <hr>
        <ul class="o-ul">
          <li class="o-li o-li-first-dropdown"><i class="fas fa-cog cog"></i> Create reg</li>
          <li class="o-li"><i class="fas fa-cog cog-del"></i> Delete reg</li>
          <li class="o-li"><i class="fas fa-cog cog"></i> Create stwp</li>
          <li class="o-li"><i class="fas fa-cog cog-del"></i> Delete stwp</li>
        </ul>
      </div>
    </div>
    <div class="row second-row">
      <div class="col-2 sidebar">
        <p class="hierarchy">Hierarchy <i class="fas fa-sitemap"></i></p>
        <hr>
        <div id="hierarchy-tree">
          <span v-for="hq in res[0]" :key="hq.hqId" id="nameHQ">{{hq.hqName}}</span><i @click="expandReg()" class="fas fa-plus-square plus expand"></i><i v-show="false" @click="minimizeReg()" class="fas fa-minus-square minus expand"></i><br>
          <button type="button" data-toggle="modal" data-target="#exampleModalCenter1" v-show="false" class="btn btn-success addNew">Dodaj region</button>
          <button type="button" data-toggle="modal" data-target="#exampleModalCenter2" v-show="false" class="btn btn-success addNew">Dodaj Shop</button>
           <!-- modal for create region -->
             <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalCenterTitle">Kreiranje regiona</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <label for="name">Region:</label><br>
                      <input placeholder="..." class="regShopAdd" v-model="regAddName" type="text"><br>
                      <label class="regShopAddDesc" for="description">Kratak info:</label><br>
                      <input placeholder="..." class="regShopAdd" v-model="regAddDesc" type="text"><br>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                      <button type="button" data-dismiss="modal" class="btn btn-success" @click="addRegion()">Sačuvaj</button>
                    </div>
                  </div>
                </div>
              </div>
           <!-- end of modal region -->
           <!-- modal for create shop -->
               <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalCenterTitle">Kreiranje shopa</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <label class="labelPickRegion" for="text">Izaberite region</label><i @click="openRegions()" class="fas fa-sort-down openRegions"></i>
                      <ul v-show="false" class="radio-pick">
                        <li v-for="pickReg in res[0][0].allRegions" :key="pickReg.regId">
                         <p @click="pickRegion(pickReg)" class="pickRegion">
                          {{pickReg.regName}}
                         </p>
                        </li>
                      </ul>
                      <p class="pickedRegion">Željeni region: <strong>{{pickedRegion.regName}}</strong></p>
                      <p class="titleShop" for="name">Shop:</p><br>
                      <input placeholder="..." class="regShopAdd" v-model="shopAddName" type="text"><br>
                      <label class="regShopAddDesc" for="description">Kratak info:</label><br>
                      <input placeholder="..." class="regShopAdd" v-model="shopAddDesc" type="text"><br>
                      <label class="regShopAddDesc" for="description">Adresa:</label><br>
                      <input placeholder="..." class="regShopAdd" v-model="shopAddAddress" type="text"><br>
                      <label class="regShopAddDesc" for="description">Telefon:</label><br>
                      <input placeholder="..." class="regShopAdd" v-model="shopAddPhone" type="number"><br>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                      <button type="button" data-dismiss="modal" class="btn btn-success" @click="addShop()">Sačuvaj</button>
                    </div>
                  </div>
                </div>
              </div>
           <!-- end of modal shop -->
           <ul v-show="togleExpandReg" id="reg-list">
             <li v-for="region in res[0][0].allRegions" :key="region.regId" id="regions">
                <i @click="permissionDelReg(region)" class="far fa-trash-alt trashIt" data-toggle="tooltip" data-placement="right" title="Obrisi region"></i>
                <i class="fas fa-edit editRegion" @click="openEditRegionModal(region)" data-toggle="tooltip" data-placement="right" title="Izmeni informacije o regionu"></i>
                <span @click="regHandle(region)" data-toggle="tooltip" data-placement="right" :title="region.regDesc" :class="{nameReg: true, activeClass: false}">{{region.regName}}</span><hr> 
                 <!-- modal for editing region -->
                    <div v-show="false" id="edit-modal-reg">
                     <p>Promeni ime regiona:</p><br>
                     <input v-model="editNameRegion" :placeholder="editRegionModalReg.regName" type="text">
                     <p>Promeni informacije o regionu:</p>
                     <input v-model="editDescRegion" :placeholder="editRegionModalReg.regDesc" type="text">
                     <button @click="dismissEditRegion()" class="btn btn-secondary dismiss-del">Odustani</button>
                     <button @click="editRegion(editRegionModalReg)" class="btn btn-success continue-del">Nastavi</button>
                   </div>
                 <!-- end of modal -->
                 <!-- modal for deleting region -->
                   <div v-show="false" id="deleting-modal-reg">
                     <p class="paraDescDel">Da li ste sigurni da želite da izbrišete ovaj region?</p>
                     <button @click="dismissDelReg()" class="btn btn-secondary dismiss-del">Odustani</button>
                     <button @click="deleteRegion(region)" class="btn btn-success continue-del">Nastavi</button>
                   </div>
                <!-- end of modal -->
                <ul id="shops-list">
                   <li v-for="shop in region.allShops" :key="shop.shopId">
                     <i @click="permissionDelShop(shop)" class="far fa-trash-alt trashIt" data-toggle="tooltip" data-placement="right" title="Obrisi shop"></i>
                     <i class="fas fa-edit editRegion" @click="openEditShopModal(shop)" data-toggle="tooltip" data-placement="right" title="Izmeni informacije o shopu"></i>
                     <i @click="openInfosShopModal(shop)" class="fas fa-info infos-reg" data-toggle="tooltip" data-placement="right" title="Informacije o shopu"></i>
                      <!-- modal for shop edit -->
                          <div v-show="false" id="edit-modal-shop">
                            <p>Promeni ime shopa:</p><br>
                            <input v-model="editNameShop" :placeholder="editShopModal.shopName" type="text">
                            <p>Promeni informacije o shopu:</p>
                            <input v-model="editDescShop" :placeholder="editShopModal.shopDesc" type="text">
                            <p>Promeni adresu:</p>
                            <input v-model="editAddressShop" :placeholder="editShopModal.shopAddress" type="text">
                            <p>Promeni telefon:</p>
                            <input v-model="editPhoneShop" :placeholder="editShopModal.shopPhone" type="number">
                            <button @click="dismissEditShopInfos()" class="btn btn-secondary dismiss-del">Odustani</button>
                            <button @click="editShop(editShopModal)" class="btn btn-success continue-del">Nastavi</button>
                          </div>
                      <!-- end of modal -->
                      <!-- modal for region infos -->
                        <div v-show="false" id="infos-shop">
                        <i @click="closeInfosShopModal(shop)" class="fas fa-times close-modal"></i>
                          <P class="shopInfos"><span><strong>informacije o shopu:</strong></span> {{shopInfos.shopDesc}}</P>
                          <p class="shopInfos"><span><strong>Adresa:</strong></span> {{shopInfos.shopAddress}}</p>
                          <p class="shopInfos"><span><strong>Telefon:</strong></span> {{shopInfos.shopPhone}}</p>
                        </div>
                     <!-- end of modal -->
                     <span @click="shopHandle(shop)" data-toggle="tooltip" data-placement="right" :title="shop.shopDesc" class="nameShop">{{shop.shopName}}</span><hr>
                      <!-- modal for deleting shop -->
                        <div v-show="false" id="deleting-modal-shop">
                        <p class="paraDescDel">Da li ste sigurni da želite da izbrišete ovaj shop?</p>
                        <button @click="dismissDelShop()" class="btn btn-secondary dismiss-del">Odustani</button>
                        <button @click="deleteShop()" class="btn btn-success continue-del">Nastavi</button>
                        </div>
                      <!-- end of modal -->
                   </li>
                </ul>
             </li>
           </ul>
        </div>
        <p class="options">Users <i class="fas fa-users"></i></p>
        <hr>
        <button v-show="false" id="createUserBtn" type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-success create-btn">Kreiraj novog usera</button>
          <!-- modal create user -->
            <div class="modal fade create-modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
             <div class="modal-dialog modal-dialog-centered" role="document">
               <div class="modal-content">
                 <div class="modal-header">
                   <h5 class="modal-title" id="exampleModalCenterTitle">Kreiraj usera</h5>
                 </div>
                 <div class="modal-body">
                   <label class="createUserLabel" for="username">Korisničko ime:</label><br>
                   <input class="createUserInput" v-model="createUsername" type="text"><br>
                   <label class="createUserLabel" for="password">Lozinka:</label><br>
                   <input class="createUserInput" v-model="createPassword" type="text"><br>
                   <label class="createUserLabel" for="firstName">Ime:</label><br>
                   <input class="createUserInput" v-model="createFName" type="text"><br>
                   <label class="createUserLabel" for="lastName">Prezime:</label><br>
                   <input class="createUserInput" v-model="createLName" type="text"><br>
                   <label class="createUserLabel" for="address">Adresa:</label><br>
                   <input class="createUserInput" v-model="createAddress" type="text"><br>
                   <label class="createUserLabel" for="phone">Telefon:</label><br>
                   <input class="createUserInput" v-model="createPhone" type="number"><br>
                   <label class="createUserLabel" for="email">Email:</label><br>
                   <input class="createUserInput" v-model="createEmail" type="text"><br>
                 </div>
                 <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                   <button id="createUserReg" v-show="false" @click="createUserReg()" type="button" data-dismiss="modal" class="btn btn-success">Sačuvaj</button>
                   <button id="createUserShop" v-show="false" @click="createUserShop()" type="button" data-dismiss="modal" class="btn btn-success">Sačuvaj</button>
                 </div>
               </div>
             </div>
           </div>
          <!-- end of modal -->
          <!-- modal for info about regional users -->
             <div class="modal fade" id="exampleModalCenter7" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
               <div class="modal-dialog modal-dialog-centered" role="document">
                 <div class="modal-content">
                   <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalCenterTitle">Informacije o useru</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                     </button>
                   </div>
                   <div class="modal-body">
                     <p class="shopInfos"><strong>Username:</strong> {{regUserInfo.username}}</p>
                     <p class="shopInfos"><strong>Ime:</strong> {{regUserInfo.firstName}}</p>
                     <p class="shopInfos"><strong>Prezime:</strong> {{regUserInfo.lastName}}</p>
                     <p class="shopInfos"><strong>Adresa:</strong> {{regUserInfo.address}}</p>
                     <p class="shopInfos"><strong>Telefon:</strong> {{regUserInfo.phone}}</p>
                   </div>
                 </div>
                </div>
              </div>
         <!-- end of modal -->
        <ul class="ul-u">
          <li v-for="regUser in regUsers" :key="regUser.userId">
             <i @click="deleteRegUser(regUser)" class="fas fa-trash-alt userTrash" data-toggle="tooltip" data-placement="right" title="Obrisi usera"></i>
             <img v-if="showStatusBlocked(regUser)" data-toggle="tooltip" data-placement="right" title="Blokiraj usera" @click="blockRegUser(regUser)" class="userBlock" src="../assets/block.png" alt="block">
             <img v-if="showStatusUnblocked(regUser)" @click="unBlockRegUser(regUser)" data-toggle="tooltip" data-placement="right" title="Odblokiraj usera" class="unBlock" src="../assets/unblock.png" alt="unblock">
             <i @click="openModalReg(regUser)" class="fas fa-user-lock editPass" data-toggle="tooltip" data-placement="right" title="Promeni lozinku"></i>
             <!-- edit userPass reg -->
               <div v-show="false" id="editPassReg-modal">
                 <p class="paraDescDel">Promena lozinke za usera: {{regUser.username}}</p>
                 <input v-model="newPassEditReg" class="regShopAdd" placeholder="Unesite novu lozinku..." type="text">
                 <button @click="dismissEditReg()" class="btn btn-secondary dismiss-del">Odustani</button>
                 <button @click="editPassRegFunc()" class="btn btn-success continue-del">Nastavi</button>
               </div>
             <!-- end of modal -->
             <p data-toggle="modal" data-target="#exampleModalCenter7" @click="showRegUserInfos(regUser)" id="users1">{{regUser.username}}</p>
             <hr>
          </li>
        </ul>
        <ul class="ul-u">
          <li v-for="shopUser in shopUsers" :key="shopUser.id">
             <i @click="deleteShopUser(shopUser)" class="fas fa-trash-alt userTrash"  data-toggle="tooltip" data-placement="right" title="Obrisi usera"></i>
             <img v-if="showStatusBlockedShop(shopUser)" data-toggle="tooltip" data-placement="right" title="Blokiraj usera" @click="blockShopUser(shopUser)" class="userBlock" src="../assets/block.png" alt="block">
             <img v-if="showStatusUnblockedShop(shopUser)" @click="unBlockShopUser(shopUser)" data-toggle="tooltip" data-placement="right" title="Odblokiraj usera" class="unBlock" src="../assets/unblock.png" alt="unblock">
             <i @click="openModalShop(shopUser)" class="fas fa-user-lock editPass" data-toggle="tooltip" data-placement="right" title="Promeni lozinku"></i>
             <p data-toggle="modal" data-target="#exampleModalCenter8" @click="showShopUserInfos(shopUser)" id="users2">{{shopUser.username}}</p>
             <hr>
             <!-- edit userPass reg -->
               <div v-show="false" id="editPassShop-modal">
                 <p class="paraDescDel">Promena lozinke za usera: {{shopUser.username}}</p>
                 <input v-model="newPassEditShop" class="regShopAdd" placeholder="Unesite novu lozinku..." type="text">
                 <button @click="dismissEditShop()" class="btn btn-secondary dismiss-del">Odustani</button>
                 <button @click="editPassShopFunc()" class="btn btn-success continue-del">Nastavi</button>
               </div>
             <!-- end of modal -->
              <!-- modal for info about shop users -->
               <div class="modal fade" id="exampleModalCenter8" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                 <div class="modal-dialog modal-dialog-centered" role="document">
                   <div class="modal-content">
                     <div class="modal-header">
                       <h5 class="modal-title" id="exampleModalCenterTitle">Informacije o useru</h5>
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                       </button>
                     </div>
                     <div class="modal-body">
                       <p class="shopInfos"><strong>Username:</strong> {{shopUserInfo.username}}</p>
                       <p class="shopInfos"><strong>Ime:</strong> {{shopUserInfo.firstName}}</p>
                       <p class="shopInfos"><strong>Prezime:</strong> {{shopUserInfo.lastName}}</p>
                       <p class="shopInfos"><strong>Adresa:</strong> {{shopUserInfo.address}}</p>
                       <p class="shopInfos"><strong>Telefon:</strong> {{shopUserInfo.phone}}</p>
                     </div>
                   </div>
                  </div>
                </div>
           <!-- end of modal -->
          </li>
        </ul>
      </div>
      <div class="col-xl-5 col-lg-6 col-sm-12">
        <div class="card first-card">
          <div class="card-body">
            <h5 class="card-title">Kasa</h5>
            <p class="card-text">Sekcija kasa služi uvidu i obračunima finansiskih tokova.</p>
            <a href="#" class="btn btn-success">Open</a>
          </div>
        </div>
        <div class="card second-card">
          <div class="card-body">
            <h5 class="card-title">Inventar</h5>
            <p class="card-text">U ovoj sekciji možete videti kompletan inventar.</p>
            <a href="../inventory/inventory.html" class="btn btn-success">Open</a>
          </div>
        </div>
      </div>
      <div class="col-xl-5 col-lg-6 col-sm-12">
        <div class="card first-card">
          <div class="card-body">
            <h5 class="card-title">Troškovi</h5>
            <p class="card-text">Sagledajte troškove u ovoj sekciji.</p>
            <a href="../costs/costs.html" class="btn btn-success">Open</a>
          </div>
        </div>
        <div class="card second-card last-card">
          <div class="card-body">
            <h5 class="card-title">Reporti</h5>
            <p class="card-text">Sve prijave i žalbe na jednom mestu.</p>
            <a href="#" class="btn btn-success">Open</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</template>

<script>
const axios = require('axios');
export default {
  data () {
    return {
       globalUrl: 'http://fo.insolutions.tech/api',
       objAcc: JSON.parse(localStorage.getItem("objAcc")),
       res: [],
       regUsers: [],
       shopUsers: [],
       togleExpandReg: false,  
       counterReg: 0,
       counterShop: 0,
       hiddenReg: true,
       createUsername: '',
       createPassword: '',
       createFName: '',
       createLName: '',
       createPhone: '',
       createAddress: '',
       createEmail: '',
       regAddName: '',
       regAddDesc: '',
       shopAddName: '',
       shopAddDesc: '',
       shopAddAddress: '',
       shopAddPhone: '',
       pickedRegion: '',
       regionToDel: {},
       shopToDel: {},
       editPassRegVar: {},
       newPassEditReg: '',
       shopInfos: {},
       regUserInfo: {},
       shopUserInfo: {},
       editPassShopVar: {},
       newPassEditShop: '',
       editDescRegion: '',
       editNameRegion: '',
       editRegionModalReg: {},
       editShopModal: {}, 
       editNameShop: '',
       editAddressShop: '',
       editDescShop: '',
       editPhoneShop: '',
    }
  },
  methods: {
      modifyLogin() {
        var self = this;
        axios.post(self.globalUrl + '/user/modifylogin', {
           userID: self.objAcc.userID,
           username: $('#iUserName').val(),
           password: $('#iPassword').val(),
           firstName: $('#iFirstName').val(),
           lastName: $('#iLastName').val(),
           address: $('#iAddress').val(),
           phone: $('#iPhone').val(),
           email: $('#iEmail').val(),
        }).then(function(res){
           console.log(res.data);
           localStorage.removeItem('objAcc');
             var objAcc = {
             address: res.data.address,
             blocked: res.data.blocked,
             email: res.data.email,
             firstName: res.data.firstName,
             lastName: res.data.lastName,
             levelID: res.data.levelID,
             modifyPwd: res.data.modifyPwd,
             password: res.data.password,
             phone: res.data.phone,
             regionShopID: res.data.regionShopID,
             userID: res.data.userID,
             username: res.data.username,
           }
           localStorage.setItem("objAcc", JSON.stringify(objAcc))
           self.objAcc.push(JSON.parse(localStorage.getItem("objAcc")));
        })
           setTimeout(()=>{
           location.reload();
          }, 5)
      },
      logout() {
        localStorage.clear();
        this.$router.push('/');
        location.reload();
      },
      openEditShopModal(s) {
        this.editShopModal = s;
        $('#edit-modal-shop').fadeIn();
      },
      dismissEditShopInfos() {
        $('#edit-modal-shop').fadeOut();
      },
      editShop(e) {
        $('#edit-modal-shop').fadeOut();
        var self = this;
        axios.post(self.globalUrl + '/shop/modify?userid='+ self.objAcc.userID +'&levelid=3&action=upd', {
           name: self.editNameShop,
           desc: self.editDescShop,
           address: self.editAddressShop,
           phone: self.editPhoneShop,
           parentId: e.perentId,
           id: e.shopId,
        }).then(function(response){
           console.log(response);
           self.usersFromDB();
        }).catch(function(err){
           console.log(err);
        })
        self.editNameShop = '';
        self.editDescShop = '';
        self.editAddressShop = '';
        self.editPhoneShop = '';
      },
      editRegion(e) {
        $('#edit-modal-reg').fadeOut();
        var self = this;
        axios.post(self.globalUrl + '/shop/modify?userid='+ self.objAcc.userID +'&levelid=2&action=upd', {
           name: self.editNameRegion,
           desc: self.editDescRegion,
           parentId: self.res[0][0].hqId,
           id: e.regId,
        }).then(function(response){
           console.log(response);
           self.usersFromDB();
        }).catch(function(err){
           console.log(err);
        })
        self.editNameRegion = '';
        self.editDescRegion = '';
      },
      openEditRegionModal(r) {
         this.editRegionModalReg = r;
         $('#edit-modal-reg').fadeIn();
      },
      dismissEditRegion() {
         $('#edit-modal-reg').fadeOut();
      },
      openModalShop(s) {
        this.editPassShopVar = s;
        $('#editPassShop-modal').fadeIn();
      },
      dismissEditShop() {
        $('#editPassShop-modal').fadeOut();
      },
      editPassShopFunc() {
        $('#editPassShop-modal').fadeOut();
        var self = this;
        axios.post(self.globalUrl + '/user/modify?userid=' + self.objAcc.userID + '&action=upd', {
            username: self.editPassShopVar.username,
            password: self.newPassEditShop,
            firstName: self.editPassShopVar.firstName,
            lastName: self.editPassShopVar.lastName,
            phone: self.editPassShopVar.phone,
            email: self.editPassShopVar.email,
            address: self.editPassShopVar.address,
            userID: self.editPassShopVar.userId,
            modifyPwd: false,
            blocked: self.editPassShopVar.blocked,
            levelID: 3,
            regionShopID: self.counterReg,
        }).then(function(response){
            alert('Uspešno ste promenili lozinku!');
        }).catch(function(err){
            console.log(err);
        })
        self.newPassEditShop = '';
      },
      showShopUserInfos(s) {
        this.shopUserInfo = s;
      },
      showRegUserInfos(r) {
        this.regUserInfo = r
      },
      openInfosShopModal(s) {
        this.shopInfos = s
        $('#infos-shop').fadeIn()
      },
      closeInfosShopModal(s) {
        $('#infos-shop').fadeOut();
      },
      showStatusBlocked(r) {
        if(r.blocked == true) {
          return false;
        }else {
          return true;
        }
      },
      showStatusUnblocked(r) {
        if(r.blocked == true) {
          return true;
        }else {
          return false;
        }
      },
      showStatusBlockedShop(s) {
         if(s.blocked == true) {
           return false;
         }else {
           return true;
         }
      },
      showStatusUnblockedShop(s) {
        if(s.blocked == true) {
          return true;
        }else {
          return false;
        }
      },
      blockShopUser(s) {
        var self = this;
        axios.post(self.globalUrl + '/user/modify?userid=' + self.objAcc.userID + '&action=upd',{
            username: s.username,
            password: '***',
            firstName: s.firstName,
            lastName: s.lastName,
            phone: s.phone,
            email: s.email,
            address: s.address,
            userID: s.userId,
            modifyPwd: false,
            blocked: true,
            levelID: 3,
            regionShopID: self.counterShop,
        }).then(function(response){
           alert('User:' + ' ' + s.username + ' ' +'je blokiran!');
           self.reqForShopUsers(self.counterShop);
        }).catch(function(err){
           console.log(err);
        });
      },
      unBlockShopUser(s) {
        var self = this;
        axios.post(self.globalUrl + '/user/modify?userid=' + self.objAcc.userID + '&action=upd',{
            username: s.username,
            password: '***',
            firstName: s.firstName,
            lastName: s.lastName,
            phone: s.phone,
            email: s.email,
            address: s.address,
            userID: s.userId,
            modifyPwd: false,
            blocked: false,
            levelID: 3,
            regionShopID: self.counterShop,
        }).then(function(response){
           alert('User:' + ' ' + s.username + ' ' +'je odblokiran!');
           self.reqForShopUsers(self.counterShop);
        }).catch(function(err){
           console.log(err);
        });
      },
      unBlockRegUser(regUser) {
        var self = this;
        axios.post(self.globalUrl + '/user/modify?userid=' + self.objAcc.userID + '&action=upd',{
            username: regUser.username,
            password: '***',
            firstName: regUser.firstName,
            lastName: regUser.lastName,
            phone: regUser.phone,
            email: regUser.email,
            address: regUser.address,
            userID: regUser.userId,
            modifyPwd: false,
            blocked: false,
            levelID: 2,
            regionShopID: self.counterReg,
        }).then(function(response){
           alert('User:' + ' ' + regUser.username + ' ' +'je odblokiran!');
           self.reqForRegUsers(self.counterReg);
        }).catch(function(err){
           console.log(err);
        });
      },
      blockRegUser(regUser) {
        var self = this;
        axios.post(self.globalUrl + '/user/modify?userid=' + self.objAcc.userID + '&action=upd',{
            username: regUser.username,
            password: '***',
            firstName: regUser.firstName,
            lastName: regUser.lastName,
            phone: regUser.phone,
            email: regUser.email,
            address: regUser.address,
            userID: regUser.userId,
            modifyPwd: false,
            blocked: true,
            levelID: 2,
            regionShopID: self.counterReg,
        }).then(function(response){
           alert('User:' + ' ' + regUser.username + ' ' +'je blokiran!');
           self.reqForRegUsers(self.counterReg);
        }).catch(function(err){
           console.log(err);
        });
      },
      editPassRegFunc() {
        $('#editPassReg-modal').fadeOut();
        var self = this;
        axios.post(self.globalUrl + '/user/modify?userid=' + self.objAcc.userID + '&action=upd', {
            username: self.editPassRegVar.username,
            password: self.newPassEditReg,
            firstName: self.editPassRegVar.firstName,
            lastName: self.editPassRegVar.lastName,
            phone: self.editPassRegVar.phone,
            email: self.editPassRegVar.email,
            address: self.editPassRegVar.address,
            userID: self.editPassRegVar.userId,
            modifyPwd: false,
            blocked: self.editPassRegVar.blocked,
            levelID: 2,
            regionShopID: self.counterReg,
        }).then(function(response){
            alert('Uspešno ste promenili lozinku!');
        }).catch(function(err){
            console.log(err);
        })
        self.newPassEditReg = '';
      },
      dismissEditReg() {
           $('#editPassReg-modal').fadeOut();
      },
      openModalReg(regU){
        this.editPassRegVar = regU;
        $('#editPassReg-modal').fadeIn();
      },
      permissionDelShop(s) {
        this.shopToDel = s;
        $('#deleting-modal-shop').fadeIn()
      },
      dismissDelShop() {
        $('#deleting-modal-shop').fadeOut()
      },
      permissionDelReg(r) {
        this.regionToDel = r;
        $('#deleting-modal-reg').fadeIn();
      },
      dismissDelReg() {
        $('#deleting-modal-reg').fadeOut();
      },
      pickRegion(pickReg) {
        this.pickedRegion = pickReg;
        $('.radio-pick').fadeOut();
      },
      openRegions() {
        $('.radio-pick').fadeToggle();
      },
      deleteRegion() {
        $('#deleting-modal-reg').fadeOut();
        var self = this;
        axios.post(self.globalUrl + '/shop/modify?userid='+ self.objAcc.userID +'&levelid=2&action=del', {
           name: self.regionToDel.regName,
           desc: self.regionToDel.regDesc,
           parentId: self.res[0][0].hqId,
           id: self.regionToDel.regId,
        }).then(function(response){
           console.log(response);
           alert('Uspesno ste izbrisali odabran region!');
           self.usersFromDB();
        }).catch(function(err){
           console.log(err);
        })
      },
      deleteShop() {
          $('#deleting-modal-shop').fadeOut()
          var self = this;
           axios.post(self.globalUrl + '/shop/modify?userid='+ self.objAcc.userID +'&levelid=3&action=del', {
           name: self.shopToDel.shopName,
           desc: self.shopToDel.shopDesc,
           parentId: self.shopToDel.shopParentId,
           shopPhone: self.shopToDel.phone,
           id: self.shopToDel.shopId,
        }).then(function(response){
           console.log(response);
           alert('Uspesno ste izbrisali odabran shop!');
           self.usersFromDB();
        }).catch(function(err){
           console.log(err);
        })
      },
      addRegion() {
        var self = this;
        axios.post(self.globalUrl + '/shop/modify?userid='+ self.objAcc.userID +'&levelid=2&action=ins', {
           name: self.regAddName,
           desc: self.regAddDesc,
           parentId: self.res[0][0].hqId,
           id: 0,
        }).then(function(response){
           console.log(response.data);
           alert('Uspešno ste kreirali novi region!');
           self.usersFromDB();
        }).catch(function(err){
          console.log(err);
        })
          self.regAddName = '';
          self.regAddDesc = '';
      },
      addShop(region) {
        var self = this;
        axios.post(self.globalUrl + '/shop/modify?userid='+ self.objAcc.userID +'&levelid=3&action=ins', {
           name: self.shopAddName,
           desc: self.shopAddDesc,
           address: self.shopAddAddress,
           phone: self.shopAddPhone,
           parentId: self.pickedRegion.regId,
           id: 0,
        }).then(function(response){
           console.log(response.data);
           alert('Uspešno ste kreirali novi shop!');
           self.usersFromDB();
        }).catch(function(err){
          console.log(err);
        })
        self.shopAddAddress = '';
        self.shopAddName = '';
        self.shopAddDesc = '';
        self.shopAddPhone = '';
        self.pickedRegion = '';
      },
      deleteRegUser(regUser) {
        var self = this;
        axios.post(self.globalUrl + '/user/modify?userid=' + self.objAcc.userID + '&action=del',{
            username: regUser.username,
            password: '***',
            firstName: regUser.firstName,
            lastName: regUser.lastName,
            phone: regUser.phone,
            email: regUser.email,
            address: regUser.address,
            userID: regUser.userId,
            modifyPwd: false,
            blocked: false,
            levelID: 2,
            regionShopID: self.counterReg,
        }).then(function(response){
           console.log(response.data);
           alert('User koga ste izabrali je obrisan!');
           self.reqForRegUsers(self.counterReg);
        }).catch(function(err){
           console.log(err);
        });
      },
       deleteShopUser(shopUser) {
        var self = this;
        axios.post(self.globalUrl + '/user/modify?userid=' + self.objAcc.userID + '&action=del',{
            username: shopUser.username,
            password: '***',
            firstName: shopUser.firstName,
            lastName: shopUser.lastName,
            phone: shopUser.phone,
            email: shopUser.email,
            address: shopUser.address,
            userID: shopUser.userId,
            modifyPwd: false,
            blocked: false,
            levelID: 3,
            regionShopID: self.counterShop,
        }).then(function(response){
           console.log(response.data);
           alert('User koga ste izabrali je obrisan!');
           self.reqForShopUsers(self.counterShop);
        }).catch(function(err){
           console.log(err);
        });
      },
      createUserReg() {
        var self = this;
        if(self.createUsername != '' && self.createPassword != '' && self.createFName != '' && self.createLName != '' && self.createPhone != '' && self.createEmail != '' && self.createAddress != ''){
        axios.post(self.globalUrl + '/user/modify?userid=' + self.objAcc.userID + '&action=ins',{
            username: self.createUsername,
            password: self.createPassword,
            firstName: self.createFName,
            lastName: self.createLName,
            phone: self.createPhone,
            email: self.createEmail,
            address: self.createAddress,
            userID: self.objAcc.userID,
            modifyPwd: false,
            blocked: false,
            levelID: 2,
            regionShopID: self.counterReg,
        }).then(function(response){
           console.log(response.data);
           alert('Vaš user je uspešno kreiran!');

           self.reqForRegUsers(self.counterReg);
        }).catch(function(err){
           console.log(err);
        });
          self.createUsername = '';
          self.createPassword = '';
          self.createFName = '';
          self.createLName = '';
          self.createPhone = '';
          self.createEmail = '';
          self.createAddress = '';
        }else{
          alert('Molimo vas unesite sva polja! pokušajte ponovo.');
        }  
      },
      createUserShop() {
        var self = this;
        if(self.createUsername != '' && self.createPassword != '' && self.createFName != '' && self.createLName != '' && self.createPhone != '' && self.createEmail != '' && self.createAddress != ''){
        axios.post(self.globalUrl + '/user/modify?userid=' + self.objAcc.userID + '&action=ins',{
            username: self.createUsername,
            password: self.createPassword,
            firstName: self.createFName,
            lastName: self.createLName,
            phone: self.createPhone,
            email: self.createEmail,
            address: self.createAddress,
            userID: self.objAcc.userID,
            modifyPwd: false,
            blocked: false,
            levelID: 3,
            regionShopID: self.counterShop,
        }).then(function(response){
           console.log(response.data);
           alert('Vaš user je uspešno kreiran!');
           self.reqForShopUsers(self.counterShop);
        }).catch(function(err){
           console.log(err);
        });
          self.createUsername = '';
          self.createPassword = '';
          self.createFName = '';
          self.createLName = '';
          self.createPhone = '';
          self.createEmail = '';
          self.createAddress = '';
        }else{
          alert('Molimo vas unesite sva polja! pokušajte ponovo.');
        }  
      },
      regHandle(region) {
        $('.nameReg').removeClass("activeClass");
        $('.nameShop').removeClass("activeClass");
        $(event.target).addClass("activeClass");
        $('#createUserBtn').fadeIn();
        $('#createUserReg').fadeIn();
        $('#createUserShop').fadeOut();
        var hq = this.res[0][0];
        hq.allRegions.forEach(elm => {
            this.hiddenReg = elm.regHidden;
        });
        if(this.hiddenReg == true) {
          alert("Nemate dozvolu da pristupite regionalnom nivou!");
        }else {
           if(region.regId === this.counterReg) {
                   alert('Molimo vas odaberite sledeću stavku');
               }else{
             this.reqForRegUsers(region.regId);
        }
        this.regUsers = [];
        this.shopUsers = [];
        this.counterShop = 0;
        this.counterReg = region.regId; 
       } 
      },
      reqForRegUsers(regid) {
          this.regUsers = [];
           var self = this;
               axios.get(self.globalUrl + '/user/getlist?userid=' + self.objAcc.userID + '&levelid=2&regshopid=' + regid)
               .then(function(response){
                   console.log(response.data);
                   response.data.forEach(user => {
                   var users = {
                      userId: user.userID,
                      username: user.username,
                      firstName: user.firstName,
                      lastName: user.lastName,
                      address: user.address,
                      phone: user.phone,
                      email: user.email,
                      modifyPwd: user.modifyPwd,
                      blocked: user.blocked,
                      levelID: user.levelID,
                      regionShopID: user.regionShopID,
                   };             
                     self.regUsers.push(users);
                     console.log(users.username, users.blocked);  
                 })
               }).catch(function(err){
                    console.log(err);
            }); 
      },
      shopHandle(shop) {
         $('.nameReg').removeClass("activeClass");
         $('.nameShop').removeClass("activeClass");
         $(event.target).addClass("activeClass");
         $('#createUserBtn').fadeIn();
         $('#createUserReg').fadeOut();
         $('#createUserShop').fadeIn();
         console.log(shop.shopId);
           if(shop.shopId === this.counterShop) {
             alert('Molimo vas odaberite sledeću stavku');
         }else{
          this.reqForShopUsers(shop.shopId);
        }
        this.shopUsers = [];
        this.regUsers = [];
        this.counterReg = 0;
        this.counterShop = shop.shopId; 
      },
      reqForShopUsers(shopid) {
         this.shopUsers = [];
         var self = this;
         axios.get(self.globalUrl + '/user/getlist?userid=' + self.objAcc.userID + '&levelid=3&regshopid=' + shopid)
         .then(function(response){
             console.log(response.data);
             response.data.forEach(user => {
             var users = {
                userId: user.userID,
                username: user.username,
                firstName: user.firstName,
                lastName: user.lastName,
                address: user.address,
                phone: user.phone,
                email: user.email,
                modifyPwd: user.modifyPwd,
                blocked: user.blocked,
                levelID: user.levelID,
                regionShopID: user.regionShopID,
             };
             self.shopUsers.push(users);
           })
         }).catch(function(err){
              console.log(err);
         });
      },
      usersFromDB() {
               this.res = [];
               var self = this;
               axios.get(self.globalUrl + '/shop/gettree?userid=' + self.objAcc.userID)
        .then(function(response){
            console.log(response.data);
            var hqArr = [];
            response.data.forEach(function(el1){
              var hq = {
                       hqId: el1.id,
                       hqName: el1.name,
                       hqHidden: el1.hidden,
                       allRegions: []
                      };
                 el1.regions.forEach(function(el2){
                  var regions = {
                         regId: el2.id,
                         regName: el2.name,
                         regDesc: el2.desc,
                         regHidden: el2.hidden,
                         regParentId: el2.parentId,
                         allShops: [],
                    }     
                    el2.shops.forEach(function(el3){
                          var shops = {
                           shopId: el3.id,
                           shopName: el3.name,
                           shopDesc: el3.desc,
                           shopAddress: el3.address,
                           shopPhone: el3.phone,
                           shopParentId: el3.parentId,
                        }
                        regions.allShops.push(shops);
                    })
                  
                    hq.allRegions.push(regions);
                 });
                hqArr.push(hq);  
              self.res.push(hqArr);
              console.log('this is res var');
              console.log(self.res[0][0].allRegions);
            });

        }).catch(function(error){
            console.log(error);
        })
      },
      expandReg() {
         $('#reg-list').fadeIn('fast');
         $('.addNew').fadeIn();
         $('.plus').hide();
         $('.minus').show();
      },
      minimizeReg() {
         $('#reg-list').fadeOut('fast');
         $('.addNew').fadeOut();
         $('.minus').hide();
         $('.plus').show();
      },
      usernameF() {
         $('.username-edit').fadeToggle();
      },
      passwordF() {
         $('.password-edit').fadeToggle();
      },
      fnameF() {
         $('.fname-edit').fadeToggle();
      },
      lnameF() {
         $('.lname-edit').fadeToggle();
      },
      emailF() {
         $('.email-edit').fadeToggle();
      },
      phoneF() {
          $('.phone-edit').fadeToggle();
      },
      addressF() {
          $('.adress-edit').fadeToggle();
      },
      openMenuNav() {
          $('#dropdown-row').fadeToggle(300);
          $('#dropdown-row').css("display", "flex");
      },
    
  },
  created() {
      this.usersFromDB();  
  },
   mounted() {
    window.onpopstate = event => {
      if ( window.localStorage.getItem("objAcc") == null ) {
        this.$router.push("/");
      }
    };
  }
}
</script>


<style scoped>

  
/* sidebar navbar */
.o-li-first {
    margin-top: 50px;
}
.o-li {
    list-style-type: none;
    margin-bottom: 30px;
    cursor: pointer;
}
.options {
    font-weight: 600;
}
.cog {
    color: green;
}
.cog-del {
    color: rgb(189, 39, 39);
}
.options {
    text-align: center;
    margin-top: 100px;
}
.one {
    margin-left: 30px;
    font-size: 25px;
    margin-bottom: 10px;
    color: darkgrey;
}
.two {
    margin-left: 65px;
    font-size: 25px;
    margin-bottom: 10px;
    color: darkgrey;
}
.hg {
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    list-style-type: none;
}
.reg {
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}
.stwp {
    margin-left: 65px;
    font-size: 20px;
    cursor: pointer;
}
.h-li {
    list-style-type: none !important;
}
.reg {
    list-style-type: none;
}
.reg-ul {
    list-style-type: none;
}
.hq-ul {
    list-style-type: none;
}
.shops {
    list-style-type: none;
}
.shop-ul {
    list-style-type: none;
}
.first-row-ls {
    margin-top: 20px;
}
.shadow-box {
    width: 100%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.274);
    height: 1px;
}
.li-tag {
    display: inline;
    text-align: center;
}
.name {
    float: left;
    font-size: 30px;
    color: green;
    padding-bottom: 30px;
}
.accPopup {
    margin-top: 15px !important;
    margin-right: 15px !important;
}
.home {
    color: green;
    font-size: 18px;
    text-align: center;
    margin-top: 30px !important;
    margin-left: 40%;
    cursor: pointer;
}
.account {
    float: right;
    padding-right: 30px;
    color: green;
    font-size: 18px;
    cursor: pointer;
}
.hierarchy {
    font-size: 15px;
    text-align: center;
    font-weight: 600;
}
.second-row {
    width: 100%;
    z-index: 999;
}
.sidebar {
    border-right: 0.5px solid lightgrey;
}
.first-row-sm {
    display: none;
}
.name-sm {
    display: none;
}
#menu-row {
    display: none;
}
#dropdown-row {
    display: none;
}
#fname-lname {
    color: black;
    font-size: 15px;
}
.myModal {
    text-align: start;
}
.infos {
    width: 100%;
    text-align: start;
    font-size: 15px;
    color: black;
}
.modal-name {
    color: black;
}
.username-edit {
    display: none;
}
.password-edit {
    display: none;
}
.fname-edit {
    display: none;
}
.lname-edit {
    display: none;
}
.email-edit {
    display: none;
}
.phone-edit {
    display: none;
}
.adress-edit {
    display: none;
}
.result-span {
    color: black;
    text-align: start;
    font-size: 15px;
}
.ul-u {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}
.edit {
    font-size: 15px;
    margin-left: 0px;
    padding-left: 0px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}
.pen {
    float: right;
    color: darkgrey;
}
.title-of-modal {
    color: black;
}
.description-of-modal {
    color: black;
    font-size: 15px;
}
.first-one {
    margin-bottom: 15px;
}
#hq-class {
  padding: 10px 5px;
  color: black;
  text-align: center;
  font-size: 20px;
}
#reg-list {
  list-style-type: none;
  margin-top: 15px;
}
#shops-list {
  list-style-type: none;
  margin-bottom: 10px;
  padding-right: 0px;
}
#nameHQ {
  font-size: 20px;
  cursor: pointer;
}
.nameReg {
  font-size: 20px;
  cursor: pointer;
}
.nameShop {
  margin-right: 30px !important;
  font-size: 20px;
  cursor: pointer;
}
.expand {
  font-size: 15px;
  color: rgb(26, 141, 26);
  margin-left: 10px;
  cursor: pointer;
}
#users1 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
  cursor: pointer;
}
#users2 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
  cursor: pointer;
}
.create-btn {
  width: 100%;
}
.createUserInput {
      border: none;
      border-bottom: 1px solid green;
      width: 100%;
      outline: none;
}
.createUserLabel {
  margin-top: 10px;
}
.userTrash {
  float: right;
  color: rgb(194, 36, 36);
  cursor: pointer;
}
.activeClass {
  border-bottom: 2px solid green;
  padding-bottom: 3px;
}
.addNew {
  padding: 0 20px;
  font-size: 15px;
  margin-top: 15px;
}
.trashIt {
  color:#C22424;
  cursor: pointer;
  font-size: 15px;
  float: right;
  margin-left: 10px;
}
.infos-reg {
  color: rgb(0, 119, 255);
  cursor: pointer;
  margin-right: 12px;
  font-size: 15px;
  float: right;
}
.regShopAdd {
  border: none;
  border-bottom: 2px solid green;
  width: 100%;
  outline: none;
}
.regShopAddDesc {
  margin-top: 20px;
}
.radio-pick li {
  list-style-type: none;
}
.titleShop {
  margin-bottom: -20px;
  margin-top: 30px;
}
.openRegions {
  font-size: 35px;
  color: green;
  margin-left: 15px;
  cursor: pointer;
}
.pickRegion {
  text-align: start;
  cursor: pointer;
}
.labelPickRegion {
  margin-top: 30px;
  margin-bottom: 30px;
}
#deleting-modal-reg {
  position: absolute;
  z-index: 999;
  background-color: white;
  width: 100%;
  margin-left: 250px;
  border: 1px solid lightgrey;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.246);
}
.paraDescDel {
  padding: 10px 20px;
}
.dismiss-del {
  padding: 5px 20px;
  margin: 10px;
}
.continue-del {
  padding: 5px 20px;
  margin-left: 5px;
}
#deleting-modal-shop {
  position: absolute;
  z-index: 999;
  background-color: white;
  width: 100%;
  margin-left: 150px;
  border: 1px solid lightgrey;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.246);
}
#edit-modal-reg {
  position: absolute;
  z-index: 999;
  background-color: white;
  width: 100%;
  padding: 0 20px;
  margin-left: 290px;
  border: 1px solid lightgrey;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.246);
}
#edit-modal-reg input {
  margin-top: 0px;
  margin-bottom: 20px;
  width: 100%;
  border: none;
  border-bottom: 1px solid green;
  outline: none;
}
#edit-modal-reg p {
  margin-top: 20px;
  margin-bottom: 0px;
}
#edit-modal-shop {
  position: absolute;
  z-index: 999;
  background-color: white;
  width: 100%;
  padding: 0 20px;
  margin-left: 290px;
  border: 1px solid lightgrey;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.246);
}
#edit-modal-shop input {
  margin-top: 0px;
  margin-bottom: 20px;
  width: 100%;
  border: none;
  border-bottom: 1px solid green;
  outline: none;
}
#edit-modal-shop p {
  margin-top: 20px;
  margin-bottom: 0px;
}
.userBlock {
  float: right;
  margin-right: 10px;
  cursor: pointer;
  width: 18px;
  height: 18px;
}
.unBlock {
  float: right;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}
.editPass {
  float: right;
  color: #563D7C;
  margin-right: 10px;
  cursor: pointer;
}
#editPassReg-modal {
  position: absolute;
  z-index: 999;
  background-color: white;
  width: 100%;
  padding: 0 20px;
  margin-left: 320px;
  border: 1px solid lightgrey;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.246);
}
#editPassReg-modal input {
  margin-bottom: 20px;
}
.shopInfos {
  width: 100%;
  text-align: start;
  margin-top: 20px;
  padding-left: 20px;
}
.close-modal {
  margin-right: 10px;
  margin-top: 10px;
  float: right;
  color: red;
  cursor: pointer;
}
#infos-shop {
  position: absolute;
  z-index: 999;
  background-color: white;
  width: 100%;
  margin-left: 200px;
  border: 1px solid lightgrey;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.246);
}
#editPassShop-modal {
  position: absolute;
  z-index: 999;
  background-color: white;
  width: 100%;
  margin-left: 320px;
  padding: 0px 20px;
  border: 1px solid lightgrey;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.246);
}
.editRegion {
  float: right;
  color: #563D7C;
  margin-right: 0px;
  cursor: pointer;
}

/* side bar media query */
 
@media only screen and (max-width: 1300px) {

    .first-row-ls {
        display: none;
    } 
    .sidebar {
      display: none;
    }    
    .first-card {
        margin-top: 0px;
    }
    .second-card {
        margin-top: 0px;
    }
    .nav-bar {
      display: none;
      height: 100px;
    }
    .first-row-sm {
      display: flex;
      text-align: center;
    }
    .name-sm {
        font-size: 25px;
        text-align: center;
        color: green;
        display: block;
        width: 100%;
    }
    #menu-nav {
        font-size: 30px;
        float: left;
        cursor: pointer;
    }
    .dropdown-acc {
        float: right;
    }
    #menu-row {
        margin-bottom: 50px;
        display: flex;
    }
    .last-card {
        margin-bottom: 100px;
    }
    .hierarchy-left {
        border-right: 0.5px solid lightgrey;
    }
    #dropdown-row {
        border-bottom: 0.5px solid lightgrey;
        display: none;
    }
    .options-dropdown {
        text-align: center;
    }
    .one-dropdown {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .two-dropdown {
        margin-top: 10px;
        margin-bottom: 10px;
    }
   
  }

/* end media query */
  
/* cards */

.first-card {
    margin-top: 100px;
}
.second-card {
    margin-top: 100px;
}




</style>
