<template>
  <div id="app">
    <keep-alive>
    <router-view></router-view>
    </keep-alive>
  </div>
</template>

<script>
import dashboard from './components/dashboard'
import changePass from './components/changePass'
export default {
  components: {
     'dashboard': dashboard,
     'changePass': changePass,
  },
  data() {
     return {
       
     }
  }
 }
</script>

<style>

</style>
